PORT="3001"
MONGO_DB_HOST=""
MONGO_DB_NAME="musicbtxa"
MONGO_DB_USER=""
MONGO_DB_PW=""
AUTH_SESSION_SECRET=""
DB_STORE_PW=""
AES_PW=""
CORS_ORIGIN="http://localhost:5173"
AUTH_COOKIE_SAMESITE="Lax"
AUTH_COOKIE_SECURE="false"

ADMIN_USERNAME=""
ADMIN_PASSWORD=""
ADMIN_DISPLAY_NAME=""

MYMEMORY_EMAIL=""
LIBRETRANSLATE_URL=""
LIBRETRANSLATE_API_KEY=""
YT_DLP_PATH=""
